.table {

    &__controllers {}

    &__main {
        border-radius: 5px;
        overflow: hidden;
    }

    &__header {
        .table__row {
            background-color: rgba(0, 30, 60, 0.4);
            font-size: 1.1rem;
            color: #fff;
        }
    }

    &__body {
        .table__row {
            cursor: pointer;
            background-color: #fff;
            transition: .3s all;

            &:hover {
                transition: .3s all;
                background-color: rgb(249, 249, 249);
            }

            &:not(:last-child) {
                border-bottom: 1px solid rgba(0, 0, 0, 0.15);
            }

            // &:nth-child(2n) {
            //     background-color: rgba(147, 146, 146, 0.064);
            // }
        }
    }

    &__row {
        display: grid;
        grid-template-columns: 70px 2fr 0.5fr 1fr 1fr;
        padding: 15px;
    }

    &__column {
        display: flex;
        align-items: center;
        column-gap: 10px;

        &_center {
            justify-content: center;
        }
    }

    &__pagination {
        display: flex;
        justify-content: flex-end;
        margin-top: 30px;
    }
}