.table {

    &__controllers {}

    &__main {
        border-radius: 5px;
        overflow: hidden;
    }

    &__header {
        .table__row {
            background-color: rgba(0, 30, 60, 0.4);
            font-size: 1.1rem;
            color: #fff;
        }
    }

    &__body {

        .table__row {
            cursor: pointer;
            background-color: #fff;
            transition: .3s all;

            &:hover {
                transition: .3s all;
                background-color: rgb(249, 249, 249);
            }

            &:not(:last-child) {
                border-bottom: 1px solid rgba(0, 0, 0, 0.15);
            }
        }
    }

    &__column {
        display: flex;
        align-items: center;
        column-gap: 10px;

        &_center {
            justify-content: center;
        }

        &.option {
            display: flex;
            justify-content: center;
        }

        .more-option {
            transform: rotate(90deg);
            width: 20px;
            padding: 4px;

            &:hover {
                background-color: rgba(155, 155, 155, 0.2);
                border-radius: 5px;
            }
        }
    }

    &__pagination {
        display: flex;
        justify-content: flex-end;
        margin-top: 30px;
    }
}
