.upload-wrapper {
    &__btn {
        position: relative;

        p {
            background-color: #fff;
            border-radius: 50%;
            color: #1976d2;
            width: 15px;
            height: 15px;
            font-size: 0.7rem;
            display: flex;
            justify-content: center;
            align-items: center;

            position: absolute;
            top: -6px;
            right: -6px;
        }
    }

    &__list {
        background-color: #fff;
        border-radius: 0 0 10px 10px;
        position: absolute;
        right: 0;
        left: 0;
        top: calc(100% + 8px);
        box-shadow: 0 0 45px -19px  #000;
        box-sizing: border-box;
        padding: 10px 15px;
        display: block;
        z-index: 1000;

        .preview-list {
            height: 400px;
            display: flex;
            flex-direction: column;
            overflow-y: scroll;
            border-radius: 10px;
            border: 2px dashed transparent;

            &.is-drag {
                border-color: #a2a2a2;

                .empty-list {
                    background: rgba(162, 162, 162, 0.2);
                }
            }

            &::-webkit-scrollbar {
                width: 5px;               /* ширина всей полосы прокрутки */
            }

            &::-webkit-scrollbar-thumb {
                background-color: #1976d2;    /* цвет бегунка */
                border-radius: 5px;       /* округлось бегунка */
            }

            &::-webkit-scrollbar-track {
                background: rgba(0, 30, 60, 0.05);        /* цвет зоны отслеживания */
            }

            &__item {
                display: flex;
                align-items: center;

                &:not(:last-child) {
                    margin-bottom: 10px;
                }
            }

            &__img {
                width: 150px;
                height: 100px;
                margin-right: 10px;

                img {
                    width: 100%;
                    height: 100%;
                    object-fit: contain;
                }
            }

            &__info {
                max-width: 275px;
            }

            &__index {
                margin-right: 10px;
            }

            &__controllers {
                margin-right: 0;
                margin-left: auto;
            }

            .empty-list {
                display: flex;
                flex-direction: column;
                justify-content: center;
                align-items: center;
                height: 100%;

                img {
                    width: 140px;
                }

                p {
                    color: #a2a2a2;
                    text-align: center;
                    width: 80%;
                    max-width: 500px;
                }
            }
        }
    }

    &__footer {
        display: flex;
        justify-content: space-between;
        margin-top: 10px;

        span {
            display: flex;
            gap: 10px;
        }
    }
}
